<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../assets/images/logo-white1x.svg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="empid@tcs.com" autocomplete="off">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="xxxxxxxxx" autocomplete="off">
        <a href="#/faq" role="button" class="my-2 orange btn btn-primary fadeIn fourth">Log In</a>
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>