<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-5 col-sm-3">
          <a class="logo" (click)="reloadPage()">
            <img src="../assets/images/logo-white1x.svg"/>
          </a>
        </div>
        <!-- <div class="col-6">
          <span class="navbar-brand text-center d-block">TCS Learning Portal</span>
        </div> -->
      </div>    
    </div>
  </nav>
</header>

<!-- Begin page content -->
<!-- <app-faq></app-faq> -->
<!-- <app-login></app-login> -->

<router-outlet></router-outlet>


<footer class="footer">
  <div class="container">
    <p class=""><img src="../assets/images/footerlogo.svg">Copyright © 2021 Tata Consultancy Services</p>
  </div>
  
</footer>


