.bg-dark {
    background-color: #E6E6E6 !important;
    padding: 15px 0;
}
.container{
    width: 100%;
    max-width: 950px;
}

/* added css */

.fab{
position: relative;
right: 40px;
padding: 10px;
}

.SocialNetwork{
    position: relative;
    left: 25px;
    font-size: 18px;
    font-style: italic;
    color: black;
}